In [12]:
import pandas as pd
pd.set_option('display.float_format','{:2f}'.format)
df=pd.read_csv("covid vaccines.csv")

In [13]:
df.columns

Index(['iso_code', 'continent', 'location', 'population', 'date', 'new_tests',
       'total_tests', 'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
       'new_vaccinations_smoothed', 'total_vaccinations_per_hundred',
       'people_vaccinated_per_hundred', 'people_fully_vaccinated_per_hundred',
       'new_vaccinations_smoothed_per_million', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'excess_mortality'],
      dtype='object')

In [14]:
df=pd.read_csv('covid vaccines.csv',usecols=['date','continent','location','population','people_vaccinated'])

In [15]:
df.isna().sum()

continent             4903
location                 0
population             702
date                     0
people_vaccinated    86758
dtype: int64

In [16]:
df.drop(df[df.population.isna() | df.continent.isna()].index.tolist(),inplace=True)

In [17]:
df.isna().sum()

continent                0
location                 0
population               0
date                     0
people_vaccinated    83425
dtype: int64

In [18]:
df.fillna(0,inplace=True)
df.reset_index(drop=True,inplace=True)
df

       continent     location      population        date  people_vaccinated
0           Asia  Afghanistan 38928341.000000  24-02-2020           0.000000
1           Asia  Afghanistan 38928341.000000  25-02-2020           0.000000
2           Asia  Afghanistan 38928341.000000  26-02-2020           0.000000
3           Asia  Afghanistan 38928341.000000  27-02-2020           0.000000
4           Asia  Afghanistan 38928341.000000  28-02-2020           0.000000
...          ...          ...             ...         ...                ...
100434    Africa     Zimbabwe 14862927.000000  23-07-2021     1400905.000000
100435    Africa     Zimbabwe 14862927.000000  24-07-2021     1438890.000000
100436    Africa     Zimbabwe 14862927.000000  25-07-2021     1447342.000000
100437    Africa     Zimbabwe 14862927.000000  26-07-2021     1491493.000000
100438    Africa     Zimbabwe 14862927.000000  27-07-2021           0.000000

[100439 rows x 5 columns]

In [19]:
perc_pop_vaccinated=df.groupby('location',as_index=False)[['population','people_vaccinated']].max()

In [20]:
perc_pop_vaccinated['percent_people_vaccinated']=((perc_pop_vaccinated['people_vaccinated']/perc_pop_vaccinated['population'])*100)

In [21]:
perc_pop_vaccinated

,location,population,people_vaccinated,percent_people_vaccinated
0,Afghanistan,38928341.000000,861336.000000,2.212619
1,Albania,2877800.000000,640047.000000,22.240844
2,Algeria,43851043.000000,75000.000000,0.171034
3,Andorra,77265.000000,48445.000000,62.699799
4,Angola,32866268.000000,958373.000000,2.915978
...,...,...,...,...
216,Vietnam,97338583.000000,4562339.000000,4.687082
217,Wallis and Futuna,11246.000000,4629.000000,41.161302
218,Yemen,29825968.000000,288828.000000,0.968378
219,Zambia,18383956.000000,269762.000000,1.467377
220,Zimbabwe,14862927.000000,1491493.000000,10.034988

In [22]:
perc_pop_vaccinated.to_excel('perc_population_vaccinated.xlsx')