# Data Description: 
        In this jupyter notebook, i will be cleaning,preparing and manipulating the covid statistical data (fetched from the link given below on date 21-07-2021) which consist of 103907 rows and 60 columns.
https://ourworldindata.org/explorers/coronavirus-data-explorer?zoomToSelection=true&time=2020-03-01..latest&pickerSort=asc&pickerMetric=location&Metric=Confirmed+cases&Interval=7-day+rolling+average&Relative+to+Population=true&Align+outbreaks=false&country=USA~GBR~CAN~DEU~ITA~IND

# What has been done in this?
==>Dates Converted From YYYY-MM-DD to YYYY-MM


==>Filling of Missing Values(NAN) as 0 since most of them were equal to no incidence occured, and removed continent which was NAN to        remove ambiguos data


==>Grouping Data With Date, Continent and Location and saving the files.

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format','{:.2f}'.format) #setting display so we can see all numbers instead of exponentital

In [3]:
df=pd.read_csv('C:/Users/Aman Tomar/Desktop/kkk/Porftolio/Covid Data Data Analyst Portfolio/owid-covid-data.csv')

In [4]:
df.shape

(103907, 60)

In [5]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,AFG,Asia,Afghanistan,2020-02-24,1.00,1.00,NaN,NaN,NaN,NaN,...,NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN
1,AFG,Asia,Afghanistan,2020-02-25,1.00,0.00,NaN,NaN,NaN,NaN,...,NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN
2,AFG,Asia,Afghanistan,2020-02-26,1.00,0.00,NaN,NaN,NaN,NaN,...,NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN
3,AFG,Asia,Afghanistan,2020-02-27,1.00,0.00,NaN,NaN,NaN,NaN,...,NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN
4,AFG,Asia,Afghanistan,2020-02-28,1.00,0.00,NaN,NaN,NaN,NaN,...,NaN,597.03,9.59,NaN,NaN,37.75,0.50,64.83,0.51,NaN

In [6]:
df.date

0         2020-02-24
1         2020-02-25
2         2020-02-26
3         2020-02-27
4         2020-02-28
             ...
103902    2021-07-16
103903    2021-07-17
103904    2021-07-18
103905    2021-07-19
103906    2021-07-20
Name: date, Length: 103907, dtype: object

In [7]:
df['date']=pd.to_datetime(df['date'],infer_datetime_format=True)

In [8]:
df['date'].head()

0   2020-02-24
1   2020-02-25
2   2020-02-26
3   2020-02-27
4   2020-02-28
Name: date, dtype: datetime64[ns]

In [9]:
df['date']=df['date'].dt.strftime('%Y/%m')

In [10]:
df.continent.isna().sum()

4840

In [11]:
df.continent.unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [12]:
df.location.isna().sum()

0

In [13]:
df.fillna(0,inplace=True)

In [14]:
(df['continent']==0).sum()

4840

In [15]:
df.drop(df[df['continent']==0].index.tolist(),inplace=True)

In [16]:
(df['location']==0).sum()

0

In [17]:
new_df=df.groupby(['date','continent','location']).sum().reset_index()

In [18]:
new_df

,date,continent,location,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality
0,2020/01,Asia,Cambodia,5.00,1.00,0.00,0.00,0.00,0.00,0.30,...,0.00,1354.46,20.00,10.00,168.50,331.14,4.00,349.10,2.97,0.00
1,2020/01,Asia,China,37943.00,9242.00,3834.86,889.00,196.00,81.43,26.36,...,7.00,2618.99,97.40,19.00,484.00,0.00,43.40,769.10,7.61,0.00
2,2020/01,Asia,Hong Kong,65.00,12.00,5.14,0.00,0.00,0.00,8.67,...,0.00,0.00,74.97,0.00,0.00,0.00,0.00,763.74,8.54,-4.95
3,2020/01,Asia,India,2.00,1.00,0.00,0.00,0.00,0.00,0.00,...,42.40,564.56,20.78,3.80,41.20,119.10,1.06,139.32,1.29,0.00
4,2020/01,Asia,Japan,56.00,13.00,4.57,0.00,0.00,0.00,0.44,...,0.00,793.70,57.20,112.00,337.00,0.00,130.50,846.30,9.19,-1.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3451,2021/07,South America,Paraguay,8732335.00,22985.00,25615.28,276286.00,1499.00,1734.00,1224296.99,...,34.00,3982.56,165.40,100.00,432.00,1592.04,26.00,1485.00,14.56,0.00
3452,2021/07,South America,Peru,41555569.00,42380.00,45716.57,3881652.00,2912.00,3347.43,1260334.92,...,70.00,1715.10,119.00,96.00,0.00,0.00,32.00,1534.80,15.54,123.09
3453,2021/07,South America,Suriname,465142.00,2703.00,2896.14,11542.00,98.00,102.57,792899.83,...,0.00,5166.28,250.80,148.00,858.00,1355.58,62.00,1433.60,14.76,0.00
3454,2021/07,South America,Uruguay,7517388.00,10026.00,12791.29,115820.00,303.00,376.28,2164069.89,...,2.00,3214.16,138.60,280.00,398.00,0.00,56.00,1558.20,16.34,0.00
3455,2021/07,South America,Venezuela,5688160.00,21154.00,22376.15,65552.00,273.00,297.71,200034.16,...,0.00,4097.00,129.40,0.00,0.00,0.00,16.00,1441.20,14.22,0.00

In [19]:
continent_data=dict.fromkeys(new_df.continent.unique().tolist())
continent_data

{'Asia': None,
 'Europe': None,
 'North America': None,
 'Oceania': None,
 'South America': None,
 'Africa': None}

In [20]:
for i in new_df.continent.unique().tolist():
     continent_data[i]=new_df[new_df['continent']==i]

In [21]:
for i in new_df.continent.unique().tolist():
    continent_data[i].to_excel(f'{str(i)} Data.xlsx')

In [22]:
continent_data.keys()

dict_keys(['Asia', 'Europe', 'North America', 'Oceania', 'South America', 'Africa'])